.row
  -# = form_for @new_message do |m|
  -#   = f.text_field :text, class: 'bubble left response'
  -#   %input.bubble.left.response{ 
  -#     style: 'border:black; overflow-wrap: break-word;', 
  -#     placeholder: 'be insightful..', 
  -#     type: 'text', 
  -#     id: 'piece-left', 
  -#     name: 'pl' 
  -#   }