.row
  %input.bubble.left.response{ 
    style: 'border:black; overflow-wrap: break-word;', 
    placeholder: 'be insightful..', 
    type: 'text', 
    id: 'piece-left', 
    name: 'pl' 
  }

.row
  %input.bubble.right.alt-bg.response{ 
    style: 'border:black; overflow-wrap: break-word;', 
    placeholder: 'be insightful..', 
    type: 'text', 
    id: 'piece-right', 
    name: 'pr' 
  }