%h1 Conversations
= render partial: 'search'
- @conversations.each do |c|
  = render partial: 'card', locals: { convo: c }

%div{ style: 'padding-top: 2rem;'}
  - if user_signed_in?
    = link_to 'create conversation', new_conversation_path, class: 'btn large-btn'