%h1.center= @conversation.title
.center{ style: 'margin-bottom:5rem;'}
  %i.btn.large-btn
    = @conversation.likes
    .fa.fa-thumbs-up{ 'aria-hidden': 'true' }

- side = false
- @messages.each do |m|
  - side = !side
  = render 'bubble', message: m, orient: side
= render 'response'