%h1 Topics
%table{ border: 1, frame: 'void', rules: 'rows' }
  - @topics.each do |t|
    %tr
      %td= link_to t.title, topic_path(t)
      %td.emphasis= t.domain
      %td= link_to 'conversations', topic_path(t), class: 'btn small-btn'

%div{ style: 'padding-top: 2rem;'}
  - if user_signed_in?
    = link_to 'create topic', new_topic_path, class: 'btn large-btn'