%h2
  hello, 
  = @user.email

%h3 participating
%note conversations you are actively participating in
= render 'table', conversations: @participations

%h3 following
%note conversations you are following
= render 'table', conversations: @following_conversations