%h2
  hello, 
  = @user.email

  = link_to destroy_user_session_path, method: :delete do 
    %i.fa.fa-sign-out{ 'aria-hidden': true }

%h3 participations
%note conversations you are actively participating in
= render 'table', conversations: @participations

%h3 following
%note conversations you are following
= render 'table', conversations: @following_conversations