@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,600;0,800;1,700&display=swap');

/* FONTS */
$martel: 'Martel', serif;
$barlow: 'Barlow', sans-serif;
$font: $barlow;
$body-font-size: 18px;

$green: #4e937a;
$jet: #30323d;
$purple: #7d83ff;
$blue: #97DFFC;
$error: #904E55;

$prim: $purple;
$secondary:$blue;
$alt:$green;

body {
  font-family: $font;
  color: $prim;
  font-size: $body-font-size;
}

note {
  margin-top: 0;
  font-size: 16px;
  color: $jet;
  opacity: 40%;
}

h1 {
  margin-top:3rem; 
  font-size: 56px;
  text-decoration-color: $alt !important;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

h3 {
  color: $alt;
  text-decoration-color: $prim !important;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-bottom: 0;
}

/* COLOR STYLING */
.emphasis { color: $alt; text-decoration: none; }
.alt-bg { background-color: $alt !important; }
/* TEXT STYLING */
.underline { text-decoration: underline; }
.bold { font-weight: 800; }

/* POSITIONING */
.m-1 { margin: 1rem; }
.m-1 { margin: 2rem; }
.ml-1 { margin-left: 1rem; }
.mr-1 { margin-right: 1rem; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-5 { margin-top: 5rem; }
.mt-10 { margin-top: 10rem; }
.mb-1 { margin-bottom: 1rem; }
.p-1 { padding: 1rem; }
.p-2 { padding: 2rem; }
.pb-3 { padding-bottom: 3rem; }
.pb-5 { padding-bottom: 5rem; }
.center { text-align: center; }
.t-left { text-align: left; }
.t-right { text-align: right; }
.float-right { margin-left: auto; }
.h-20 { min-height: 20rem; }
.w-70 { width: 70%; }
.h-100 { min-height: 100vh; }

/* GRID STYLINGS */
.col-10 { width: 10%; }
.col-20 { width: 20%; }
.col-30 { width: 30%; }
.col-35 { width: 35%; }
.col-40 { width: 40%; }
.col-50 { width: 50%; }
.col-60 { width: 60%; }
.col-70 { width: 70%; }
.col-80 { width: 80%; }
.col-90 { width: 90%; }
.col-100 { width: 100%; }
.row { display:flex; margin-bottom: 1rem; }
.left { margin:auto !important; margin-left:0 !important; }
.right { margin:auto !important; margin-right:0 !important; }

/* ELEMENTS */
.border-blue {
  border-radius: 0.5rem;
  border: 2px solid $blue;
}

.fa-sign-out {
  color: $alt;
  opacity: 50%;
}

.underline {
  text-decoration-color: $alt !important;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

table {
  width: 100%;
  border: 1;
  border-color: $alt;
}

th, tr, td {
  padding: 1rem;
}

.fa {
  margin-left: 0.5rem;
  margin-right: 0;
}

.like-banner {
  width: 100%;
  text-align: center;
  background-color: $alt;
  border-radius: 1rem;
  color: white;
  padding: 0.5rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.container {
  @media (max-width: 1000px) {
    margin-left: 5%;
    margin-right: 5%;
  }
  margin-left: 20%;
  margin-right: 20%;
}

.bubble {
  @media (max-width: 500px) {
    width: 80%;
  }
  width:60%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  border-radius: 1rem;
  padding: 0.75rem;
  background-color: $purple;
  color: white;
  margin: 1rem;
}

.response {
  font-size: $body-font-size;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  outline: none;
}

.scroll-bar {
  position: fixed;
  width: 12px;
  border-radius: 0.5rem;
  top: 0;
  background: $alt;
  opacity: 0.5;
}

.large-btn {
  padding: 1rem;
}

.small-btn {
  padding: 0.5rem;
}

.white-btn {
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  border: 2px solid $prim; 
  text-decoration: none;
  color: $prim;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-right: 1rem;
}

.btn {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $purple;
  border-radius: 1rem;
  text-decoration: none;
  color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

/* NAVBAR STYLING */
.navbar {
  margin-bottom: 2rem;
  margin-top: 2rem;  
}

.nav-item {
  margin:auto;
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: none;
  color: $prim;
  text-decoration-color: $alt !important;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.nav-item:hover {
  color: $alt;
  text-decoration-color: $prim !important;
}

/* FORM */
.form-row {
  margin-bottom: 2rem;
}

.form-submit {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: $prim;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  font-size: $body-font-size;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: none;
  outline: none;
}

input[type=text] {
  background-color: white;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: $body-font-size;
  border: 3px solid $prim;
  color: $prim;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  width: 70%;
  @media (max-width: 800px) {
    width: 95%;
  }
}

.error {
  input {
    border: 3px solid $error;
  }
  p {
    color: $error;
  }
}

input[type=text]:focus {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.form-dropdown {
  color: $prim;
  background-color: white;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: $body-font-size;
  border: 3px solid $prim;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}