@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,600;0,800;1,700&display=swap");
/* FONTS */
body {
  font-family: "Barlow", sans-serif;
  color: #7d83ff;
  font-size: 18px; }

h1 {
  margin-top: 3rem;
  font-size: 56px;
  text-decoration-color: #4e937a !important;
  text-decoration: underline;
  text-decoration-thickness: 4px; }

h3 {
  text-decoration-color: #4e937a !important;
  text-decoration: underline;
  text-decoration-thickness: 2px; }

/* COLOR STYLING */
.emphasis {
  color: #4e937a; }

.alt-bg {
  background-color: #4e937a !important; }

/* TEXT STYLING */
.underline {
  text-decoration: underline; }

.bold {
  font-weight: 800; }

/* POSITIONING */
.m-1 {
  margin: 1rem; }

.ml-1 {
  margin-left: 1rem; }

.mr-1 {
  margin-right: 1rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-5 {
  margin-top: 5rem; }

.mb-1 {
  margin-bottom: 1rem; }

.p-1 {
  padding: 1rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pb-5 {
  padding-bottom: 5rem; }

.center {
  text-align: center; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.float-right {
  margin-left: auto; }

.h-20 {
  min-height: 20rem; }

.w-70 {
  width: 70%; }

.h-100 {
  min-height: 100vh; }

/* GRID STYLINGS */
.col-10 {
  width: 10%; }

.col-20 {
  width: 20%; }

.col-30 {
  width: 30%; }

.col-35 {
  width: 35%; }

.col-40 {
  width: 40%; }

.col-50 {
  width: 50%; }

.col-60 {
  width: 60%; }

.col-70 {
  width: 70%; }

.col-80 {
  width: 80%; }

.col-90 {
  width: 90%; }

.col-100 {
  width: 100%; }

.row {
  display: flex;
  margin-bottom: 1rem; }

.left {
  margin: auto !important;
  margin-left: 0 !important; }

.right {
  margin: auto !important;
  margin-right: 0 !important; }

/* ELEMENTS */
.border-blue {
  border-radius: 0.5rem;
  border: 2px solid #007fff; }

table {
  width: 100%; }

th, tr, td {
  padding: 1rem; }

.container {
  margin-left: 20%;
  margin-right: 20%; }
  @media (max-width: 500px) {
    .container {
      margin-left: 5%;
      margin-right: 5%; } }

.bubble {
  width: 60%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  padding: 0.75rem;
  background-color: #7d83ff;
  color: white;
  margin: 1rem; }
  @media (max-width: 500px) {
    .bubble {
      width: 80%; } }

.response {
  font-size: 18px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  outline: none; }

.scroll-bar {
  position: fixed;
  width: 12px;
  border-radius: 0.5rem;
  top: 0;
  background: #4e937a;
  opacity: 0.5; }

.large-btn {
  padding: 1rem;
  margin: 2rem; }

.small-btn {
  padding: 0.5rem; }

.btn {
  background-color: #7d83ff;
  border-radius: 1rem;
  text-decoration: none;
  color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); }

/* NAVBAR STYLING */
.navbar {
  margin-bottom: 2rem;
  margin-top: 2rem; }

.nav-item {
  margin: auto;
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: none;
  color: #7d83ff;
  text-decoration-color: #4e937a !important;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important; }

.nav-item:hover {
  color: #4e937a;
  text-decoration-color: #7d83ff !important; }

/*# sourceMappingURL=application.css.map */
