.row
  %input.bubble.left.response{ 
    style: 'border:black; overflow-wrap: break-word; background-color: #7d83ff !important; color: white;', 
    placeholder: 'be insightful..', 
    type: 'text', 
    id: 'piece', 
    name: 'p' 
  }