%h1.center let's talk
.row
  .bubble.left
    you've got opinions
    %br
    %note Bill
.row
  .bubble.right.alt-bg
    as do others
    %br
    %note Lauren
.row
  .bubble.left
    if you had one dog in the fight, what would you say? 
    %br
    %note George
.row
  .bubble.right.alt-bg
    or try not to say
    %br
    %note Garrett
.row
  .bubble.left
    engage with others, argue for your position
    %br
    %note Maddie
.row
  .bubble.middle
    or sit on the fence
    %br
    %note Clay
.row
  .bubble.right.alt-bg
    or listen, follow the conversation
    %br
    %note Emma
.center{ style: 'margin-top:4rem;'}
  = link_to 'join the conversation', new_user_registration_path, class: 'btn large-btn m-2'